
<!-- </div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Satyam</p>
  </div>
</div>
</body>
</html> -->
<!------------- Footer Starts ------------------->
<div class="footer">
  <div class="copyright-text">
      Copyright &copy; 2021 MyBlog Co., Ltd.
  </div>

  <div class="contact-us">
      CONTACT&nbsp;US &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/profile.php?id=100007637312234" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a class="fa fas fa-envelope " href="mailto:satyamkt51@gmail.com"></a>
      <a href="https://www.linkedin.com/in/satyam-thakur-9911591b2/" class="fa fa-linkedin"></a>
  </div>
</div>
<!--------------- Footer Ends ----------------->
</body>
</html>